/*************************************************************/
/* Estilos Generales *****************************************/
/*************************************************************/
* {
    box-sizing: border-box;
}
body{
    background-color: #708090;
}
#fondo_exterior{
    width: 100%;
    float: left;
}

#fondo_interior{
    margin: -10px auto;
    width: 1200px;
}
.f_left{
    float: left;
}
.f_right{
    float: right;
}
/*************************************************************/
/* Estilos de la Cabecera ************************************/
/*************************************************************/
#cabecera{
    background-color: #778899;
    border-bottom: 1px solid black;
    float: left;
    width: 100%;
    padding: 10px;
}
/* LOGO ****************************************/
#cab_logo_logo{
    float: left;
    width: 199px;
    height: 50px;
    background: url(../imgs/logo.png) no-repeat;
    background-size: cover;
}
/* IDIOMA ****************************************/
#cab_idioma{
    float: right;
}
#cab_idioma_globo{
    float: right;
    width: 50px;
    height: 50px;
    background: url(../imgs/idiomas.png) no-repeat;
    background-position: top;
    background-size: cover;
}
#cab_idioma_globo:hover{
    background-position: bottom;
}
/* MENU ****************************************/
#cab_menu{
    float: right;
    height: 50px;
    width: 800px
}

.cab_menu_lista {
    position: absolute;
    margin-top: 19px;
    margin-left: 75px;
}

.cab_menu_lista * {
    background-color: #C0C0C0;
    width: 170px;
    user-select: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-family: Arial, sans-serif;
}

.cab_menu_lista_grupo{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    float: left;
    margin: 0 5px;
}
.cab_menu_lista_grupo:hover > .cab_menu_lista_items {
    display: block;
}
.cab_menu_lista_grupo:hover > .cab_menu_lista_visible, .cab_menu_lista_grupo:hover > .cab_menu_lista_item {
    background-color: #696969;
    color: white;
}
.cab_menu_lista_visible{
    border-left: 3px solid black;
    border-right: 3px solid black;
    height: 40px;
    line-height: 40px;
}
.cab_menu_lista_separado{
    float: left;
    height: 10px;
    border-left: 3px solid black;
    border-right: 3px solid black;
}
.cab_menu_lista_items{
    display: none;
}
.cab_menu_lista_item{
    float: left;
    width: 100%;
    border-left: 3px solid black;
    border-right: 3px solid black;
    padding: 5px 0;
}
.cab_menu_lista_item:hover{
    background-color: #696969;
    color: white;
}
/*************************************************************/
/* Estilos del Cuerpo ****************************************/
/*************************************************************/
#cuerpo{
    /*border: 1px solid black;*/
    background-color: #778899;
    float: left;
    width: 100%;
}
.con_articulo{
    float: left;
    padding-top: 15px;
}
.con_art_texto{
    text-align: justify;
    padding: 0 15px;
}
.con_foto{
    padding: 0 15px;
}