/*************************************************************/
/* Estilos Generales *****************************************/
/*************************************************************/
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans'), local('PTSans-Regular'), url(https://fonts.gstatic.com/s/ptsans/v9/jizaRExUiTo99u79D0KExQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(https://fonts.gstatic.com/s/robotocondensed/v16/ieVl2ZhZI2eCN5jzbjEETS9weq8-19K7DQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body{
    background-color: #708090;
    font-family: 'PT Sans',sans-serif;
    color: rgba(6, 6, 6, 0.85);
}
h1{
    font-family: 'Roboto Condensed',sans-serif;
}
#fondo_exterior{
    width: 100%;
    float: left;
}

#fondo_interior{
    width: 90%;
    max-width: 1480px;
}
.row_margen{
    margin:0;
}
.flex-parent{
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
}

.flex-child{
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

/*************************************************************/
/* Estilos de la Cabecera ************************************/
/*************************************************************/
.fondo_base_1{
    background-color: #778899;
}
#cabecera{
    background-color: #778899;
    float: left;
    width: 100%;
}
#cab_logo{
    float: right;
    width: 25%;
}
#cab_logo_logo{
    float: left;
    width: 195px;
    height: 50px;
    background: url(../imgs/logo.png) no-repeat;
    background-size: cover;
}
#cab_idioma_esp{
    float: left;
    width: 30px;
    height: 20px;
    background: url(../imgs/es_flag.jpg) no-repeat;
    background-size: cover;
}
#cab_idioma_eng{
    float: left;
    width: 30px;
    height: 20px;
    background: url(../imgs/uk_flag.jpg) no-repeat;
    background-size: cover;
}
/* MENU ****************************************/
#nav-item-bandera{
    width: 40px;
    min-width: 80px;
}
/*************************************************************/
/* Estilos del Cuerpo ****************************************/
/*************************************************************/
#cuerpo{
    background-color: #778899;
    float: left;
    width: 100%;
}
#con_cabecera{
    position: inherit;
    padding: 0 15px;
}
#con_cabecera_img{
    float: left;
    width: 100%;
}
.con_articulo{
    float: left;
    padding: 15px;
}
.con_art_texto{
    text-align: justify;
    padding: 15px 15px 0;
}
.con_bloque {
    padding: 0 15px;
}

.con_bloque img{
    width: 100%;
    max-width: 700px;
}

.con_bloque iframe{
    padding: 0 15px;
}

#bloque_informacion{
    width: 600px;
}

#pie{
    float: left;
    width: 100%;
    padding: 15px 0;
}
#pie_titulo{
    width: 200px;
    height: 70px;
    margin: 0 auto;
}
#pie_titulo_logo{
    float: left;
    width: 199px;
    height: 50px;
    background: url(../imgs/logo.png) no-repeat;
    background-size: cover;
}
#pie_titulo_texto{
    font-family: Arial,sans-serif;
    text-align: center;
}